@import '@node-core/ui-components/styles/index.css';

.has-datatag {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Titles should inherit their font size */
h1 code,
h2 code,
h3 code,
h4 code {
  font-size: inherit;
}
